@font-face {
  font-family: poppins;
  font-display: swap;
  src: url("../font/Poppins-Regular.ttf");
}

:root {
  --background-color-primary: #ddd;
  --background-color-secondary: #d6d6d6;
  --text-color-primary: black;
}

body {
  font-family: poppins;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color-primary);
  background-image: url(../assets/new_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--text-color-primary);
}

body::-webkit-scrollbar{
  background-color: black;
}

#tabs-joiner{
  display: flex;
}

#triangle{
  width: 0px;
  width: 0;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 40px solid rgb(229, 229, 229);
}

#tabs {
  position: relative;
  width: fit-content;
  display: flex;
  gap: 20px;
  background-color: rgb(229, 229, 229);
  height: 40px;
  width: 50%;
  align-items: center;
  padding-left: 20px;
  user-select: none;
}

#tabs > div {
  cursor: pointer;
}

#tabs > div#current {
  font-weight: 900;
}

#card {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  width: 50%;
  padding-bottom: 20vh;
}

#content {
  background-color: var(--background-color-secondary);
  box-sizing: border-box;
  padding: 20px 40px;
}

#name {
  margin: 0px;
  animation-name: huer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background: -webkit-linear-gradient(0deg, rgb(0, 255, 110), #525fc8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #525fc8;
  padding: 10px 0;
  font-size: 54px;
}

@keyframes huer {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

#pills-separator {
  margin: 30px 0;
}

#pills {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  color: black;
  font-size: 16px;
  gap: 10px;
  justify-content: center;
}

#pills > div {
  border: 1px solid black;
  padding: 2px 10px;
  border-radius: 30px;
  background-color: transparent;
  border-color: #606c94;
  color: #606c94;
  user-select: none;
  transition: 0.75s;
  display: flex;
  gap: 5px;
}

#pills > div > #img {
  width: 20px;
  height: 20px;
  align-self: center;
  justify-self: center;
}

#separator {
  border: 1px solid #aaa;
  margin-bottom: 20px;
}

#pills > div:hover {
  background-color: #606c94;
  color: white;
}

#pills > div[id] {
  cursor: pointer;
}

h2{
  margin: 0px;
  padding: 5px 0;
}

.byi-dni{
  text-transform: uppercase;
  margin: 0px;
  list-style: none;
  font-size: 24px;
  font-weight: 900;
}

#dni{
  display: flex;
  align-self: flex-end;
}

#about-grid-byi{
  display: grid;
  grid-template-columns: 50% auto;
  align-items: center;
  justify-items: center;
}

#about-grid-dni{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}


ul > li {
  list-style-type: circle;
  margin: 10px 0;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

#likes-grid{
  display: grid;
  grid-template-columns: auto auto;
}

a, a:visited{
  color: dodgerblue;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition-property: text-decoration-color;
  transition-duration: 0.75s;
  cursor: pointer;
}

a:hover{
  text-decoration-color: dodgerblue;
}